* {
  box-sizing: border-box;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

ul {
  padding: 0;
  display: flex;
}

li {
  list-style: none;
  margin-right: 20px;
}

a {
  color: #00b7ff;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

a:hover {
  color: #000;
}

a.active {
  color: #000;
  text-decoration: underline;
}

label {
  margin-right: 15px;
}

input {
  padding: 4px 6px;
}

.btn-submit {
  background-color: inherit;
  padding: 7px 10px;
  font-weight: bold;
  color: #00b7ff;
  border: 1px solid #00b7ff;
  cursor: pointer;
  transition: 0.2s ease;
}

.btn-submit:hover {
  background-color: #00b7ff;
  color: #fff;
}

.text-textarea {
  vertical-align: top;
}

textarea {
  min-width: 185px;
  min-height: 100px;
}

table a {
  cursor: pointer;
  font-size: 14px;
}

.article-date {
  font-size: 12px;
}

.input-search {
  height: 31px;
  border: 1px solid #00b7ff;
  border-right: none;
}
